<div class="blocoCadastro">
  <mat-card>
    <h2>Nova noticia</h2>
    <form class="example-form" [formGroup]="formInput" autocomplete="off">
      <div class="input">
        <mat-form-field appearance="outline" class="inputTitulo">
          <mat-label>Título</mat-label>
          <input matInput formControlName="titulo" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="inputData">
          <mat-label>Data de Publicação</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dataPublicacao"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Conteudo</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="15"
          formControlName="conteudo"
          required
        ></textarea>
      </mat-form-field>
      <button class="button" (click)="salvarNoticia()">
        Salvar
      </button>
    </form>
  </mat-card>
</div>
